@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 30, 30;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 244, 190, 113;
    --background-start-rgb: 34, 40, 49;
    --background-end-rgb: 32, 38, 47;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      150deg,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
